body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#container {
    padding: 20px;
    border: 2px solid black;
    display: inline-block;
}

.destaque {
    color: red;
    font-weight: bold;
}